p
{
    display: inline-block;
    margin: 0 2%;
}
input
{
margin: 0 2%;
}
.currencyConverter
{
    width: 450px;
    height: 200px;
    background-color: rgb(196, 187, 122);
    margin: auto;
    margin-top: 5%;
}
.from , .to
{
    padding: 4% 0;
}

.convert
{
    margin-top: 2%;
    background-color: rgb(107, 196, 47);
}
.convertedcurrency
{
    width: 450px;
    height: 250px;
    background-color: rgb(122, 176, 196);
    margin: 4% 0;
    
}
#currencyinput
{
    margin-top: 2%;
}
.news
{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 500px;
    margin: 1% 0;
    background-color: rgb(220, 100, 212);
    padding: 30px 0;
    float: right;
    position: relative;
      
}
.App
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.App > div{
    margin: 5px 20px 5px 20px;
  }
a{
    margin: 9px 0;
}
.currencyDashboard
{
    background-color: grey;
}
